.footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
}

.footer-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px; /* jarak ke menu */
  letter-spacing: 1px;
}

.footer-links a {
  transition: opacity 0.3s;
}

.footer-links a:hover {
  opacity: 0.7;
}

.footer-line {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-copy {
  font-size: 12px;
  color: #b3b3b3;
}
